<div class = 'sidebar_extras'>
    <hr>
    <a class="twitter-timeline" data-height="2000" href="https://twitter.com/gelliottmorris?ref_src=twsrc%5Etfw">Tweets by gelliottmorris</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <hr>
    Blogroll:<br>
    <a href="https://www.washingtonpost.com/news/monkey-cage/">The Monkey Cage</a><br>
    <a href="https://rweekly.org">R-Weekly</a><br>
    <a href="http://agadjanianpolitics.wordpress.com/">Alexander Agadjanian</a><br>
    <a href="http://yihui.name">Yihui Xie</a><br>
</div>