{{ partial "header.html" . }}
<style>
body {max-width: 1000px;}
#header-container {max-width: 1000px;}
#body-columns {max-width: 1000px;}
</style>

<div class="container" id="body-columns">
  <!-- one sentence intro -->
  
  Hi, I'm G. Elliott Morris, a data journalist for <i><a href="https://www.economist.com">The Economist</a></i> based in Washington, DC. This is my personal blog. I also write a weekly (and sometimes more often) data-driven email about politics, <a href="http://newsletter.thecrosstab.com">which you can sign up for here</a>.
  
  <hr />
  
  <!-- content from elsewhere -->
  <div class='col-sm-8'>
    
    <!-- most recent blog posts -->
    {{ range first 1 (where .Data.Pages "Type" "post") }}
      <span style="color: red">Most recent post</span>
      <span class="date">{{ .Date.Format "Jan. 02, 2006" }} » </span>
      <a href="{{ .URL }}">{{ .Title | markdownify }}</a>
      <br />
      <p>
        <i>{{ .Summary | markdownify }}</i>
        <a href="{{ .URL }}">Read more...</a>
      </p>
      <br />
      
    {{ end }}
    
    <a href="/post/">Head over to the <strong>blog</strong> page to read more posts.</a>
    
    <hr />  
    
    
    <!-- most recent in all sections -->
    <h2 style='text-align:center;'>My work:</h2>

    <div class='homelist' id="writing"> 
      <h3>Published Writing</h3> 
      <p>My writing for <i>The Economist</i>...</p>
      <ul class='nobullet'>
        {{ range first 5 (where .Data.Pages "Type" "writing") }}
        	{{ partial "list-item" . }} 
        {{ end }}
      </ul>
    </div>
    
    <div class='homelist' id="post"> <br />
      <h3>Newsletter entries</h3> 
      <p>Content distributed via email...<i><a href="http://newsletter.thecrosstab.com">Sign up here!</a></i></p>
      <ul class='nobullet'>
        <script src="//rss.bloople.net/?url=https%3A%2F%2Fthecrosstab.substack.com%2Ffeed&detail=-1&limit=5&showtitle=false&type=js"></script>
      </ul>
    </div>
    
    <div class='homelist' id="post"> <br />
      <h3>Blog Posts</h3> 
      <p>Blog posts and brief thoughts...</p>
      <ul class='nobullet'>
        {{ range first 5 (where .Data.Pages "Type" "post") }}
        	{{ partial "list-item" . }} 
        {{ end }}
      </ul>
    </div>
    
    <div class='homelist' id="projects"> <br />
      <h3>Projects</h3>  
      <p>Big projects on data in politics...</p>
      <ul class='nobullet'>
        {{ range first 3 (where .Data.Pages "Type" "project") }}
        	{{ partial "list-item" . }} 
        {{ end }}
      </ul>
    </div>
    
    <div class='homelist' id="research"> <br />
      <h3>Research</h3> 
      <p>My academic political science research...</p>
      <ul class='nobullet'>
        {{ range first 2 (where .Data.Pages "Type" "research") }}
        	{{ partial "list-item" . }} 
        {{ end }}
      </ul>
    </div>
    
    <div class='homelist' id="pages"> <br />
      <h3>Pages</h3>
      <p>Simply a list of miscellaneous pages...</p>
      <ul class='nobullet'>
        {{ range first 5 (where .Data.Pages "Type" "page") }}
        	{{ partial "list-item" . }} 
        {{ end }}
      </ul>
    </div>
  
  </div>
  
  <!-- small side column -->
  <div class='col-sm-4'>
    <!-- content from _index.Rmd -->
    {{ .Content }}
  </div>
  
</div>

<hr> <br />

{{ partial "news_widget.html" . }}

{{ partial "footer.html" . }}


